<template>
    <div class="w-full sm:w-8/12 md:w-5/12 p-5 bg-white">
        <h1 class="text-3xl text-center font-bold py-4 text-gray-800">
            Editar Task {{id}}
        </h1>
        
       <form method="POST" class="" v-on:submit.prevent="saveTask()">
           
           <div class="d-block flex px-2 py-4">
               <input type="text" v-model="task.todo"
               placeholder="Editar Tarea" name="todo" id="todo"
               class="text-xl p-2 mr-2 w-10/12 border-b-2 border-green-300">

               <input type="submit" value="Guardar" 
               class="font-bold inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">
           </div>
       
       </form>
    </div>
    
</template>

<script>
    export default {
        data(){
            return{
                id: this.$route.params.id,
                task:[]
            }
        },
        created(){

            axios.get(`/tasks/${this.id}/edit`)
               .then(response => this.task = response.data)
               .catch();
        },
        methods:{
            saveTask(){
               axios.put(`/tasks/${this.id}`, {todo:this.task.todo,})
                    .then(response => {console.log(response)})
                    .catch(error => {console.log(error.response)});
                this.task='';
                this.$router.push('/');
                
               
            }
        }
}
</script>
