<template>
    <div class="w-full sm:w-8/12 md:w-5/12 p-5 bg-white shadow ">
        <h1 class="text-3xl text-center font-bold py-4 text-gray-800">Crear Task</h1>
        
       <form method="POST" class="" v-on:submit.prevent="saveTask()">
           
           <div class="d-block flex px-2 py-4">
               <input type="text" v-model="task"
               placeholder="Crear Tarea" name="todo" id="todo"
               class="text-xl p-2 mr-2 w-10/12 border-b-2 border-blue-300">

                <!--<input type="text" v-model="task"
                 class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
                 placeholder="Crear Tarea" name="todo" id="todo" required>-->
               
               <input type="submit" value="Guardar" 
               class="font-bold inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">
           </div>
       
       </form>
    </div>
    
</template>

<script>
    export default {
        data(){
            return{
                task:''
            }
        },
        methods:{
            saveTask(){
              /*  alert(this.task);
                this.task='';
              */
                axios.post('/tasks', {todo:this.task,})
                    .then(response => {console.log(response)})
                    .catch(error => {console.log(error.response)});
                this.task='';
                this.$router.push('/');
               
            }
        }
}
</script>
